<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463670144969-pgl6j4g2uqf1hp70vr03elgvfvrql3ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463670144969-pgl6j4g2uqf1hp70vr03elgvfvrql3ip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>463670144969-hqb786lg40qil2epe7afbv6u3ineimh0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOKlqQou0U4pqcpKZSAZgKEJfbncRJb4M</string>
	<key>GCM_SENDER_ID</key>
	<string>463670144969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isorensen.okr-os</string>
	<key>PROJECT_ID</key>
	<string>okr-os</string>
	<key>STORAGE_BUCKET</key>
	<string>okr-os.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463670144969:ios:f6023e6397dd1b8ef0c218</string>
	<key>DATABASE_URL</key>
	<string>https://okr-os.firebaseio.com</string>
</dict>
</plist>